@use "../abstracts/mixins" as mixins;

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;

  wa-header {
    header {
      @include mixins.responsive-spacing(padding, content);
    }
  }

  main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    @include mixins.responsive-spacing(padding, content);
  }

  wa-footer {
    footer {
      @include mixins.responsive-spacing(padding, content);
    }
  }
}
