@use "../abstracts" as abstracts;

$content-padding: 1.5rem;

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent;

  header {
    width: 100%;
    padding: $content-padding;
    background-color: var(--color-primary-700);
    color: var(--color-white);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }

  main {
    width: 100%;
    padding: $content-padding;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    width: 100%;
    padding: $content-padding;
    background-color: var(--color-primary-700);
    color: var(--color-white);
    margin-top: auto;
  }

  @media (max-width: map-get(abstracts.$breakpoints, desktop)) {
    header,
    main,
    footer {
      padding: $content-padding * 0.875;
    }
  }

  @media (max-width: map-get(abstracts.$breakpoints, tablet)) {
    header,
    main,
    footer {
      padding: $content-padding * 0.75;
    }
  }

  @media (max-width: map-get(abstracts.$breakpoints, mobile)) {
    header,
    main,
    footer {
      padding: $content-padding * 0.625;
    }
  }
}
