<div class="weather-dashboard">
  <div class="weather-dashboard__search">
    <wa-autocomplete-multiselect
      [formControl]="cityControl"
      label="Search Location"
      placeholder="Enter city name"
      [suggestions]="suggestionsComputed()"
      (applied)="handleSelectedSuggestions($event)"
    ></wa-autocomplete-multiselect>
  </div>

  @if (loadingSignal()) {
    <div class="weather-dashboard__loading"></div>
  } @else {
    <div class="weather-dashboard__content">
      @for (entry of weatherData$ | async; track entry.location) {
        <wa-card>
          <div class="wa-card-header">
            <h3>{{ entry.location }}</h3>
          </div>
          <div class="wa-card-body">
            <div class="weather-info">
              <div class="weather-info__temperature">
                <p>
                  <span class="label">Current temperature: </span>
                  <span>{{ entry.data.current.temperature_2m }}</span>
                  <span>{{ entry.data.current_units.temperature_2m }}</span>
                </p>
              </div>
              <div class="weather-info__condition">
                <p>
                  <span class="label">Weather condition: </span>
                  <span>{{ entry.data.current.weather_code | waWeatherCode }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="wa-card-footer">
            <button class="remove" (click)="removeLocation(entry)" aria-label="Remove location">
              ✕
            </button>
          </div>
        </wa-card>
      }
    </div>
  }
</div>
