@use "utils" as utils;

:host {
  display: inline-block;
}

.wa-button {
  @include utils.button-base;
  @include utils.button-base-theming;

  &.accent {
    @include utils.button-base-theming(
      var(--color-secondary-700),
      var(--color-white)
    );
    @include utils.button-base-hover-effect;
  }

  &.solid {
    @include utils.button-base-theming(var(--color-white), var(--color-black));
    @include utils.button-base-hover-effect;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  @media only screen and (max-width: 480px) {
    font-size: 0.75rem;
  }

  @media only screen and (min-width: 481px) and (max-width: 600px) {
    font-size: 0.85rem;
  }
}
