@use "utils";

:host {
  display: inline-block;
}

.wa-button {
  @include utils.button-base;
  @include utils.button-base-theming;

  &.accent {
    @include utils.button-base-theming(
      var(--color-secondary-700),
      var(--color-white)
    );
    &.active {
      @include utils.button-base-active-theming(
        var(--color-white),
        var(--color-secondary-700)
      );
      transition: background-color 0.5s ease;
    }
    &.tabular {
      @include utils.button-tabular-theming;
    }
  }

  &.solid {
    @include utils.button-base-theming(
      var(--color-primary-100),
      var(--color-primary-700)
    );
    &.active {
      @include utils.button-base-active-theming(
        var(--color-primary-800),
        var(--color-primary-100)
      );
      transition: all 0.3s ease;
    }
    &.tabular {
      @include utils.button-tabular-theming;
    }
  }

  &.accent,
  &.solid {
    @include utils.button-base-hover-effect;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  @include utils.media-query(tablet) {
    font-size: 0.85rem;
  }

  @include utils.media-query(mobile) {
    font-size: 0.75rem;
  }
}
